body, ul, li, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

#wrap {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
}

.ulboardDetail {
	padding: 1rem 1rem 0 1rem;
}

.ulboardDetail li,
.submitComments li {
    margin-bottom: 20px;
}

.ulboardDetail li span:first-child,
.submitComments li span:first-child {
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
    width: 120px;
}

.ulboardDetail li span,
.submitComments li span {
    width: 100%;
}

.like-container {
    text-align: right;
}

#likeButton {
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
    background-color: #fff;
}

.wrapComments {
	margin-top: 1rem;
}

.submitComments {
	padding-top: 2rem;
	padding-left: 2rem;
	background-color: #f5fcff;
	border-radius: 10px;
	width: 95%;
	min-width: 600px;
	margin: 0 auto;
}

.submitComments input {
	height: 100px;
	width: 70%;
	border: none;
}

.buttonList {
	text-align: right;
	margin-right: 5.5rem;
}

.buttonList button {
    background-color: skyblue;
    color: #fff;
    padding: 8px 16px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* .comments {
    margin-top: 20px;
    width: 100%
}

.comments ul li:first-child {
	color: #0b4499;
	font-weight: 700;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    width: 95%;
    text-align: center;
}

.commentList {
	width: 95%;
	text-align: center;
	padding-bottom: 10px;
}

.comments ul li span {
	display: inline-block;
}

.comments ul li:first-child span:nth-of-type(1) {
	width: 20%;
}

.comments ul li:first-child span:nth-of-type(2) {
	width: 35%;
}

.comments ul li:first-child span:nth-of-type(3) {
	width: 15%;
}

.comments ul li:first-child span:nth-of-type(4) {
	width: 20%;
}

.comments ul li:first-child span:nth-of-type(5) {
	width: 5%;
}

.commentList span:nth-of-type(1) {
	width: 20%;
}

.commentList span:nth-of-type(2) {
	width: 35%;
}

.commentList span:nth-of-type(3) {
	width: 15%;
}

.commentList span:nth-of-type(4) {
	width: 20%;
}

.commentList span:nth-of-type(5) {
	width: 5%;
} */

.comments ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.comments ul .commentsTitle,
.comments ul .commentList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.comments ul .commentList span {
    flex: 1;
    padding: 5px 10px;
    text-align: center;
}

.comments ul .commentList span:first-child {
    text-align: left;
}

.comments ul .commentList span:last-child {
    text-align: center;
}

.comments ul .commentList:nth-child(even) {
    background-color: #f2f2f2;
}

